<div class="container mt-5">
    <div class="d-flex flex-row">

        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle mr-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Category
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
    
          
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Search by Name">
      </div>
    </div>
    
    <div class="card" style="width: 100%; position: relative;" *ngFor="let order of orders">
        <div class="arrow" style="position: absolute; top:35%;right: 20px; cursor: pointer;">
            <i class="fas fa-angle-right fa-2x"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Total Cost : {{order.totalPrice}}</h5>

              <span class="card-text mr-2" *ngFor="let itemObj of order.allitems">{{itemObj.item.name}}
                  <span class="text-success">
                    {{itemObj.qty}}
                  </span>
              </span>
 
        </div>
      </div>
      <p *ngIf="orders.length==0">No purchased is made so far</p>
      
</div>


    
