.display{
    display: grid;
    grid-template-columns: 30vw 30vw;
}

@media only screen and (max-width: 850px) {
    .display{
        display: grid;
        grid-template-columns: 50vw;
    }

    .card{
        min-width:"200px" !important;
        min-height:"120px" !important;
    }
  }

  .modal.showModal{
    display: block ;
    background-color: rgba(114, 109, 109, 0.5);
}